select,
textarea {
    margin-top: 0.2em;
    margin-bottom: 1.2em;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 2px solid var(--gris);
    border-radius: 7px;
    background: #ffffff;
    color: var(--negro);
}

select:focus,
textarea:focus {
    outline: none;
    border-color: var(--azul);
}
form {
    max-width: 500px;
    width: 100%;
    margin-bottom: 2rem;
}

input,
select,
textarea {
    width: 100%;
}